interactions:
- request:
    body: '{"name": "otel-test-upsert-sm", "format": "solr", "synonyms": "fast,quick\nslow,sluggish"}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - return=representation
    method: PUT
    uri: https://traceloop-otel-os.search.windows.net/synonymmaps('otel-test-upsert-sm')?api-version=2025-09-01
  response:
    body:
      string: '{"@odata.context":"https://traceloop-otel-os.search.windows.net/$metadata#synonymmaps/$entity","@odata.etag":"\"0x8DE66A723727CEE\"","name":"otel-test-upsert-sm","format":"solr","synonyms":"fast,quick\nslow,sluggish","encryptionKey":null}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8
      ETag:
      - '"0x8DE66A723727CEE"'
      Location:
      - https://traceloop-otel-os.search.windows.net:443/synonymmaps('otel-test-upsert-sm')?api-version=2025-09-01
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.include-annotations="*"
      elapsed-time:
      - '23'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://traceloop-otel-os.search.windows.net/synonymmaps('otel-test-upsert-sm')?api-version=2025-09-01
  response:
    body:
      string: ''
    headers:
      Preference-Applied:
      - odata.include-annotations="*"
      elapsed-time:
      - '13'
    status:
      code: 204
      message: No Content
version: 1
