interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://traceloop-otel-os.search.windows.net/indexes('otel-integration-test')/docs('1')?api-version=2025-09-01
  response:
    body:
      string: '{"id":"1","name":"Test Hotel","description":"A test hotel","rating":4.5}'
    headers:
      Content-Type:
      - application/json; odata.metadata=none; odata.streaming=true; charset=utf-8
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.include-annotations="*"
      elapsed-time:
      - '12'
    status:
      code: 200
      message: OK
version: 1
