interactions:
- request:
    body: '{"name": "otel-test-get-sm", "format": "solr", "synonyms": "big,large"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://traceloop-otel-os.search.windows.net/synonymmaps?api-version=2025-09-01
  response:
    body:
      string: '{"@odata.context":"https://traceloop-otel-os.search.windows.net/$metadata#synonymmaps/$entity","@odata.etag":"\"0x8DE66A7229F2A17\"","name":"otel-test-get-sm","format":"solr","synonyms":"big,large","encryptionKey":null}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8
      ETag:
      - '"0x8DE66A7229F2A17"'
      Location:
      - https://traceloop-otel-os.search.windows.net:443/synonymmaps('otel-test-get-sm')?api-version=2025-09-01
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.include-annotations="*"
      elapsed-time:
      - '25'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://traceloop-otel-os.search.windows.net/synonymmaps('otel-test-get-sm')?api-version=2025-09-01
  response:
    body:
      string: '{"@odata.context":"https://traceloop-otel-os.search.windows.net/$metadata#synonymmaps/$entity","@odata.etag":"\"0x8DE66A7229F2A17\"","name":"otel-test-get-sm","format":"solr","synonyms":"big,large","encryptionKey":null}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8
      ETag:
      - '"0x8DE66A7229F2A17"'
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.include-annotations="*"
      elapsed-time:
      - '12'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://traceloop-otel-os.search.windows.net/synonymmaps('otel-test-get-sm')?api-version=2025-09-01
  response:
    body:
      string: ''
    headers:
      Preference-Applied:
      - odata.include-annotations="*"
      elapsed-time:
      - '27'
    status:
      code: 204
      message: No Content
version: 1
