interactions:
- request:
    body: '{"value": [{"id": "test-1", "@search.action": "delete"}, {"id": "test-2",
      "@search.action": "delete"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://traceloop-otel-os.search.windows.net/indexes('otel-integration-test')/docs/search.index?api-version=2025-09-01
  response:
    body:
      string: '{"value":[{"key":"test-1","status":true,"errorMessage":null,"statusCode":200},{"key":"test-2","status":true,"errorMessage":null,"statusCode":200}]}'
    headers:
      Content-Type:
      - application/json; odata.metadata=none; odata.streaming=true; charset=utf-8
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.include-annotations="*"
      elapsed-time:
      - '36'
    status:
      code: 200
      message: OK
version: 1
