interactions:
- request:
    body: null
    headers:
    method: DELETE
    uri: https://traceloop-otel-os.search.windows.net/synonymmaps('otel-test-synonyms')?api-version=2025-09-01
  response:
    body:
      string: '{"error":{"code":"","message":"No synonymMap with the name ''otel-test-synonyms''
        was found in a service named ''traceloop-otel-os''."}}'
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      elapsed-time:
      - '18'
    status:
      code: 404
      message: Not Found
- request:
    body: '{"name": "otel-test-synonyms", "format": "solr", "synonyms": "hotel,motel\ncozy,comfortable,warm"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://traceloop-otel-os.search.windows.net/synonymmaps?api-version=2025-09-01
  response:
    body:
      string: '{"@odata.context":"https://traceloop-otel-os.search.windows.net/$metadata#synonymmaps/$entity","@odata.etag":"\"0x8DE66A72256B2A0\"","name":"otel-test-synonyms","format":"solr","synonyms":"hotel,motel\ncozy,comfortable,warm","encryptionKey":null}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8
      ETag:
      - '"0x8DE66A72256B2A0"'
      Location:
      - https://traceloop-otel-os.search.windows.net:443/synonymmaps('otel-test-synonyms')?api-version=2025-09-01
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.include-annotations="*"
      elapsed-time:
      - '34'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://traceloop-otel-os.search.windows.net/synonymmaps('otel-test-synonyms')?api-version=2025-09-01
  response:
    body:
      string: ''
    headers:
      Preference-Applied:
      - odata.include-annotations="*"
      elapsed-time:
      - '16'
    status:
      code: 204
      message: No Content
version: 1
