interactions:
- request:
    body: '{"value": [{"id": "merge-1", "name": "Merge Test", "description": "Test",
      "rating": 3.0, "@search.action": "upload"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://traceloop-otel-os.search.windows.net/indexes('otel-integration-test')/docs/search.index?api-version=2025-09-01
  response:
    body:
      string: '{"value":[{"key":"merge-1","status":true,"errorMessage":null,"statusCode":201}]}'
    headers:
      Content-Type:
      - application/json; odata.metadata=none; odata.streaming=true; charset=utf-8
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.include-annotations="*"
      elapsed-time:
      - '63'
    status:
      code: 200
      message: OK
- request:
    body: '{"value": [{"id": "merge-1", "rating": 4.8, "@search.action": "merge"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://traceloop-otel-os.search.windows.net/indexes('otel-integration-test')/docs/search.index?api-version=2025-09-01
  response:
    body:
      string: '{"value":[{"key":"merge-1","status":true,"errorMessage":null,"statusCode":200}]}'
    headers:
      Content-Type:
      - application/json; odata.metadata=none; odata.streaming=true; charset=utf-8
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.include-annotations="*"
      elapsed-time:
      - '98'
    status:
      code: 200
      message: OK
version: 1
