interactions:
- request:
    body: '{"name": "otel-test-delete-sm", "format": "solr", "synonyms": "old,ancient"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://traceloop-otel-os.search.windows.net/synonymmaps?api-version=2025-09-01
  response:
    body:
      string: '{"@odata.context":"https://traceloop-otel-os.search.windows.net/$metadata#synonymmaps/$entity","@odata.etag":"\"0x8DE66A723B85F4A\"","name":"otel-test-delete-sm","format":"solr","synonyms":"old,ancient","encryptionKey":null}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8
      ETag:
      - '"0x8DE66A723B85F4A"'
      Location:
      - https://traceloop-otel-os.search.windows.net:443/synonymmaps('otel-test-delete-sm')?api-version=2025-09-01
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.include-annotations="*"
      elapsed-time:
      - '39'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://traceloop-otel-os.search.windows.net/synonymmaps('otel-test-delete-sm')?api-version=2025-09-01
  response:
    body:
      string: ''
    headers:
      Preference-Applied:
      - odata.include-annotations="*"
      elapsed-time:
      - '16'
    status:
      code: 204
      message: No Content
version: 1
