interactions:
- request:
    body: '{"value": [{"id": "upsert-1", "name": "Upsert Hotel", "description": "A
      test upsert", "rating": 4.2, "@search.action": "mergeOrUpload"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://traceloop-otel-os.search.windows.net/indexes('otel-integration-test')/docs/search.index?api-version=2025-09-01
  response:
    body:
      string: '{"value":[{"key":"upsert-1","status":true,"errorMessage":null,"statusCode":201}]}'
    headers:
      Content-Type:
      - application/json; odata.metadata=none; odata.streaming=true; charset=utf-8
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.include-annotations="*"
      elapsed-time:
      - '46'
    status:
      code: 200
      message: OK
version: 1
