interactions:
- request:
    body: '{"value": [{"id": "doc-1", "name": "Test", "description": "Test", "rating":
      4.0, "@search.action": "upload"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://traceloop-otel-os.search.windows.net/indexes('otel-integration-test')/docs/search.index?api-version=2025-09-01
  response:
    body:
      string: '{"value":[{"key":"doc-1","status":true,"errorMessage":null,"statusCode":201}]}'
    headers:
      Content-Type:
      - application/json; odata.metadata=none; odata.streaming=true; charset=utf-8
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.include-annotations="*"
      elapsed-time:
      - '81'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://traceloop-otel-os.search.windows.net/indexes('otel-integration-test')/docs('doc-1')?api-version=2025-09-01
  response:
    body:
      string: '{"id":"doc-1","name":"Test","description":"Test","rating":4.0}'
    headers:
      Content-Type:
      - application/json; odata.metadata=none; odata.streaming=true; charset=utf-8
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.include-annotations="*"
      elapsed-time:
      - '38'
    status:
      code: 200
      message: OK
version: 1
