interactions:
- request:
    body: '{"name": "otel-test-ds-names", "type": "azureblob", "credentials": {"connectionString":
      "DefaultEndpointsProtocol=https;AccountName=placeholder;AccountKey=placeholder;EndpointSuffix=core.windows.net"},
      "container": {"name": "placeholder-container"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://traceloop-otel-os.search.windows.net/datasources?api-version=2025-09-01
  response:
    body:
      string: '{"error":{"code":"","message":"Connection string could not be parsed.
        It must be in one of the following formats: ''ResourceId=[resource ID string];''
        or ''DefaultEndpointsProtocol=https;AccountName=[your storage account];AccountKey=[your
        account key];'' or ''BlobEndpoint=[your blob endpoint URI];SharedAccessSignature=[your
        account shared access token];'' or ''ContainerSharedAccessUri=[your container
        shared access token with read and list permissions]''"}}'
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      elapsed-time:
      - '22'
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
    method: GET
    uri: https://traceloop-otel-os.search.windows.net/datasources?api-version=2025-09-01
  response:
    body:
      string: '{"@odata.context":"https://traceloop-otel-os.search.windows.net/$metadata#datasources","value":[]}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.include-annotations="*"
      elapsed-time:
      - '8'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://traceloop-otel-os.search.windows.net/datasources('otel-test-ds-names')?api-version=2025-09-01
  response:
    body:
      string: '{"error":{"code":"","message":"No datasource with the name ''otel-test-ds-names''
        was found in a service named ''traceloop-otel-os''."}}'
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      elapsed-time:
      - '32'
    status:
      code: 404
      message: Not Found
version: 1
