interactions:
- request:
    body: '{"name": "test-upsert-index", "fields": [{"name": "id", "type": "Edm.String",
      "key": true, "retrievable": true, "searchable": false, "filterable": false,
      "sortable": false, "facetable": false}, {"name": "content", "type": "Edm.String",
      "key": false, "retrievable": true, "searchable": true, "filterable": false,
      "sortable": false, "facetable": false}]}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - return=representation
    method: PUT
    uri: https://traceloop-otel-os.search.windows.net/indexes('test-upsert-index')?api-version=2025-09-01
  response:
    body:
      string: '{"@odata.context":"https://traceloop-otel-os.search.windows.net/$metadata#indexes/$entity","@odata.etag":"\"0x8DE3C329755851D\"","name":"test-upsert-index","description":null,"defaultScoringProfile":null,"fields":[{"name":"id","type":"Edm.String","searchable":false,"filterable":false,"retrievable":true,"stored":true,"sortable":false,"facetable":false,"key":true,"indexAnalyzer":null,"searchAnalyzer":null,"analyzer":null,"normalizer":null,"dimensions":null,"vectorSearchProfile":null,"vectorEncoding":null,"synonymMaps":[]},{"name":"content","type":"Edm.String","searchable":true,"filterable":false,"retrievable":true,"stored":true,"sortable":false,"facetable":false,"key":false,"indexAnalyzer":null,"searchAnalyzer":null,"analyzer":null,"normalizer":null,"dimensions":null,"vectorSearchProfile":null,"vectorEncoding":null,"synonymMaps":[]}],"scoringProfiles":[],"corsOptions":null,"suggesters":[],"analyzers":[],"normalizers":[],"tokenizers":[],"tokenFilters":[],"charFilters":[],"encryptionKey":null,"similarity":{"@odata.type":"#Microsoft.Azure.Search.BM25Similarity","k1":null,"b":null},"semantic":null,"vectorSearch":null}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8
      ETag:
      - '"0x8DE3C329755851D"'
      Location:
      - https://traceloop-otel-os.search.windows.net:443/indexes('test-upsert-index')?api-version=2025-09-01
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.include-annotations="*"
      elapsed-time:
      - '933'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://traceloop-otel-os.search.windows.net/indexes('test-upsert-index')?api-version=2025-09-01
  response:
    body:
      string: ''
    headers:
      Preference-Applied:
      - odata.include-annotations="*"
      elapsed-time:
      - '368'
    status:
      code: 204
      message: No Content
version: 1
