interactions:
- request:
    body: '{"name": "otel-test-skillset-names", "description": "Test skillset for
      OTel integration tests", "skills": [{"@odata.type": "#Microsoft.Skills.Text.LanguageDetectionSkill",
      "name": "language-detection", "inputs": [{"name": "text", "source": "/document/content"}],
      "outputs": [{"name": "languageCode", "targetName": "languageCode"}]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://traceloop-otel-os.search.windows.net/skillsets?api-version=2025-09-01
  response:
    body:
      string: '{"@odata.context":"https://traceloop-otel-os.search.windows.net/$metadata#skillsets/$entity","@odata.etag":"\"0x8DE66A7256235A6\"","name":"otel-test-skillset-names","description":"Test
        skillset for OTel integration tests","skills":[{"@odata.type":"#Microsoft.Skills.Text.LanguageDetectionSkill","name":"language-detection","description":null,"context":null,"defaultCountryHint":null,"modelVersion":null,"inputs":[{"name":"text","source":"/document/content","sourceContext":null,"inputs":[]}],"outputs":[{"name":"languageCode","targetName":"languageCode"}]}],"cognitiveServices":null,"knowledgeStore":null,"indexProjections":null,"encryptionKey":null}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8
      ETag:
      - '"0x8DE66A7256235A6"'
      Location:
      - https://traceloop-otel-os.search.windows.net:443/skillsets('otel-test-skillset-names')?api-version=2025-09-01
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.include-annotations="*"
      elapsed-time:
      - '54'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://traceloop-otel-os.search.windows.net/skillsets?api-version=2025-09-01
  response:
    body:
      string: '{"@odata.context":"https://traceloop-otel-os.search.windows.net/$metadata#skillsets","value":[{"@odata.etag":"\"0x8DE66A7256235A6\"","name":"otel-test-skillset-names","description":"Test
        skillset for OTel integration tests","skills":[{"@odata.type":"#Microsoft.Skills.Text.LanguageDetectionSkill","name":"language-detection","description":null,"context":"/document","defaultCountryHint":null,"modelVersion":null,"inputs":[{"name":"text","source":"/document/content","sourceContext":null,"inputs":[]}],"outputs":[{"name":"languageCode","targetName":"languageCode"}]}],"cognitiveServices":null,"knowledgeStore":null,"indexProjections":null,"encryptionKey":null}]}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.include-annotations="*"
      elapsed-time:
      - '26'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://traceloop-otel-os.search.windows.net/skillsets('otel-test-skillset-names')?api-version=2025-09-01
  response:
    body:
      string: ''
    headers:
      Preference-Applied:
      - odata.include-annotations="*"
      elapsed-time:
      - '36'
    status:
      code: 204
      message: No Content
version: 1
