interactions:
- request:
    body: '{"value": [{"id": "sug-1", "name": "Hot Springs Resort", "description":
      "A hot springs resort", "rating": 4.5, "@search.action": "upload"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://traceloop-otel-os.search.windows.net/indexes('otel-integration-test')/docs/search.index?api-version=2025-09-01
  response:
    body:
      string: '{"value":[{"key":"sug-1","status":true,"errorMessage":null,"statusCode":201}]}'
    headers:
      Content-Type:
      - application/json; odata.metadata=none; odata.streaming=true; charset=utf-8
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.include-annotations="*"
      elapsed-time:
      - '29'
    status:
      code: 200
      message: OK
- request:
    body: '{"search": "hot", "suggesterName": "sg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://traceloop-otel-os.search.windows.net/indexes('otel-integration-test')/docs/search.post.suggest?api-version=2025-09-01
  response:
    body:
      string: '{"value":[{"@search.text":"Hot Springs Resort","id":"sug-1"},{"@search.text":"Upsert
        Hotel","id":"upsert-1"},{"@search.text":"Batch Hotel","id":"batch-1"},{"@search.text":"Luxury
        Hotel","id":"auto-1"}]}'
    headers:
      Content-Type:
      - application/json; odata.metadata=none; odata.streaming=true; charset=utf-8
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.include-annotations="*"
      elapsed-time:
      - '17'
    status:
      code: 200
      message: OK
version: 1
