interactions:
- request:
    body: '{"search": "*", "skip": 5, "top": 10}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://traceloop-otel-os.search.windows.net/indexes('otel-integration-test')/docs/search.post.search?api-version=2025-09-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      Content-Type:
      - application/json; odata.metadata=none; odata.streaming=true; charset=utf-8
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.include-annotations="*"
      elapsed-time:
      - '6'
    status:
      code: 200
      message: OK
version: 1
