interactions:
- request:
    body: '{"text": "The quick brown fox", "analyzer": "standard.lucene"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://traceloop-otel-os.search.windows.net/indexes('otel-integration-test')/search.analyze?api-version=2025-09-01
  response:
    body:
      string: '{"@odata.context":"https://traceloop-otel-os.search.windows.net/$metadata#Microsoft.Azure.Search.V2025_09_01.AnalyzeResult","tokens":[{"token":"the","startOffset":0,"endOffset":3,"position":0},{"token":"quick","startOffset":4,"endOffset":9,"position":1},{"token":"brown","startOffset":10,"endOffset":15,"position":2},{"token":"fox","startOffset":16,"endOffset":19,"position":3}]}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.include-annotations="*"
      elapsed-time:
      - '28'
    status:
      code: 200
      message: OK
version: 1
