interactions:
- request:
    body: '{"value": [{"id": "auto-1", "name": "Luxury Hotel", "description": "A luxury
      hotel", "rating": 5.0, "@search.action": "upload"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://traceloop-otel-os.search.windows.net/indexes('otel-integration-test')/docs/search.index?api-version=2025-09-01
  response:
    body:
      string: '{"value":[{"key":"auto-1","status":true,"errorMessage":null,"statusCode":201}]}'
    headers:
      Content-Type:
      - application/json; odata.metadata=none; odata.streaming=true; charset=utf-8
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.include-annotations="*"
      elapsed-time:
      - '35'
    status:
      code: 200
      message: OK
- request:
    body: '{"search": "lux", "suggesterName": "sg"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://traceloop-otel-os.search.windows.net/indexes('otel-integration-test')/docs/search.post.autocomplete?api-version=2025-09-01
  response:
    body:
      string: '{"value":[{"text":"luxury","queryPlusText":"luxury"}]}'
    headers:
      Content-Type:
      - application/json; odata.metadata=none; odata.streaming=true; charset=utf-8
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.include-annotations="*"
      elapsed-time:
      - '13'
    status:
      code: 200
      message: OK
version: 1
