interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://traceloop-otel-os.search.windows.net/servicestats?api-version=2025-09-01
  response:
    body:
      string: '{"@odata.context":"https://traceloop-otel-os.search.windows.net/$metadata#Microsoft.Azure.Search.V2025_09_01.ServiceStatistics","counters":{"documentCount":{"usage":0,"quota":null},"indexesCount":{"usage":2,"quota":3},"indexersCount":{"usage":0,"quota":3},"dataSourcesCount":{"usage":0,"quota":3},"storageSize":{"usage":0,"quota":52428800},"synonymMaps":{"usage":0,"quota":3},"skillsetCount":{"usage":0,"quota":3},"vectorIndexSize":{"usage":0,"quota":null}},"limits":{"maxStoragePerIndex":52428800,"maxFieldsPerIndex":1000,"maxFieldNestingDepthPerIndex":10,"maxComplexCollectionFieldsPerIndex":40,"maxComplexObjectsInCollectionsPerDocument":3000}}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.include-annotations="*"
      elapsed-time:
      - '74'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://traceloop-otel-os.search.windows.net/servicestats?api-version=2025-09-01
  response:
    body:
      string: '{"@odata.context":"https://traceloop-otel-os.search.windows.net/$metadata#Microsoft.Azure.Search.V2025_09_01.ServiceStatistics","counters":{"documentCount":{"usage":0,"quota":null},"indexesCount":{"usage":2,"quota":3},"indexersCount":{"usage":0,"quota":3},"dataSourcesCount":{"usage":0,"quota":3},"storageSize":{"usage":0,"quota":52428800},"synonymMaps":{"usage":0,"quota":3},"skillsetCount":{"usage":0,"quota":3},"vectorIndexSize":{"usage":0,"quota":null}},"limits":{"maxStoragePerIndex":52428800,"maxFieldsPerIndex":1000,"maxFieldNestingDepthPerIndex":10,"maxComplexCollectionFieldsPerIndex":40,"maxComplexObjectsInCollectionsPerDocument":3000}}'
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true; charset=utf-8
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.include-annotations="*"
      elapsed-time:
      - '57'
    status:
      code: 200
      message: OK
version: 1
