interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://traceloop-dev-2bw7rt4q.weaviate.network/v1/schema
  response:
    body:
      string: '{"classes":[{"class":"Article","description":"An Article class to store
        a text","invertedIndexConfig":{"bm25":{"b":0.75,"k1":1.2},"cleanupIntervalSeconds":60,"stopwords":{"additions":null,"preset":"en","removals":null}},"multiTenancyConfig":{"enabled":false},"properties":[{"dataType":["text"],"description":"The
        name of the author","indexFilterable":true,"indexSearchable":true,"name":"author","tokenization":"whitespace"},{"dataType":["text"],"description":"The
        text content","indexFilterable":true,"indexSearchable":true,"name":"text","tokenization":"word"}],"replicationConfig":{"factor":1},"shardingConfig":{"virtualPerPhysical":128,"desiredCount":1,"actualCount":1,"desiredVirtualCount":128,"actualVirtualCount":128,"key":"_id","strategy":"hash","function":"murmur3"},"vectorIndexConfig":{"skip":false,"cleanupIntervalSeconds":300,"maxConnections":64,"efConstruction":128,"ef":-1,"dynamicEfMin":100,"dynamicEfMax":500,"dynamicEfFactor":8,"vectorCacheMaxObjects":1000000000000,"flatSearchCutoff":40000,"distance":"cosine","pq":{"enabled":false,"bitCompression":false,"segments":0,"centroids":256,"trainingLimit":100000,"encoder":{"type":"kmeans","distribution":"log-normal"}}},"vectorIndexType":"hnsw","vectorizer":"none"}]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: DELETE
    uri: https://traceloop-dev-2bw7rt4q.weaviate.network/v1/schema/Article
  response:
    body:
      string: ''
    headers:
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: DELETE
    uri: https://traceloop-dev-2bw7rt4q.weaviate.network/v1/schema/Article
  response:
    body:
      string: ''
    headers:
    status:
      code: 200
      message: OK
version: 1
