interactions:
- request:
    body: '{"slug": "test-publish-dataset-1754926489", "name": "Test Publish Dataset",
      "description": "Dataset for testing publish functionality", "columns": [{"slug":
      "name", "name": "Name", "type": "string"}, {"slug": "value", "name": "Value",
      "type": "string"}], "rows": [{"Name": "Test", "Value": "123"}]}'
    headers:
      Content-Type:
      - application/json
      X-Traceloop-SDK-Version:
      - 1.0.0
    method: POST
    uri: https://api-staging.traceloop.com/v2/datasets
  response:
    body:
      string: '{"error":"row 0 has an invalid column slug: Name"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-content-type:
      - nosniff
    status:
      code: 400
      message: Bad Request
version: 1
