interactions:
- request:
    body: null
    headers:
      X-Traceloop-SDK-Version:
      - 1.0.0
    method: GET
    uri: https://api-staging.traceloop.com/v2/datasets/test-qa
  response:
    body:
      string: '{"id":"cme75m4is00004lp0dtfaczb9","slug":"test-qa","name":"Test QA","columns":{},"created_at":"2025-08-11T16:34:16.42Z","updated_at":"2025-08-11T16:34:16.42Z","rows":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-content-type:
      - nosniff
    status:
      code: 200
      message: OK
version: 1
