interactions:
- request:
    body: null
    headers:
      X-Traceloop-SDK-Version:
      - 1.0.0
    method: GET
    uri: https://api-staging.traceloop.com/v2/datasets
  response:
    body:
      string: '{"datasets":[{"id":"cme75m4is00004lp0dtfaczb9","slug":"nina-qa","name":"Nina
        QA","created_at":"2025-08-11T16:34:16.42Z","updated_at":"2025-08-11T16:34:16.42Z"}],"total":1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-content-type:
      - nosniff
    status:
      code: 200
      message: OK
version: 1
