interactions:
- request:
    body: '{"slug": "test-csv-dataset-conflict", "name": "Test CSV Dataset", "description":
      "Dataset created from CSV for testing", "columns": [{"slug": "name", "name":
      "Name", "type": "string"}, {"slug": "price", "name": "Price", "type": "string"},
      {"slug": "in-stock", "name": "In Stock", "type": "string"}], "rows": [{"name":
      "Laptop", "price": "999.99", "in-stock": "true"}, {"name": "Mouse", "price":
      "29.99", "in-stock": "false"}]}'
    headers:
      Content-Type:
      - application/json
      X-Traceloop-SDK-Version:
      - 1.0.0
    method: POST
    uri: https://api-staging.traceloop.com/v2/datasets
  response:
    body:
      string: '{"error":"duplicate key value violates unique constraint"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-content-type:
      - nosniff
    status:
      code: 409
      message: Conflict
version: 1
