interactions:
- request:
    body: '{"slug": "duplicate-df-test-slug", "name": "Duplicate DataFrame Dataset",
      "description": null, "columns": [{"slug": "name", "name": "Name", "type": "string"},
      {"slug": "price", "name": "Price", "type": "number"}], "rows": [{"name": "Laptop",
      "price": 999.99}]}'
    headers:
      Content-Type:
      - application/json
      X-Traceloop-SDK-Version:
      - 1.0.0
    method: POST
    uri: https://api-staging.traceloop.com/v2/datasets
  response:
    body:
      string: '{"id":"cme79wkpy002h0105bbkxyu2u","slug":"duplicate-df-test-slug","name":"Duplicate
        DataFrame Dataset","columns":{"name":{"slug":"name","name":"Name","type":"string"},"price":{"slug":"price","name":"Price","type":"number"}},"created_at":"2025-08-11T15:34:22.438121523Z","updated_at":"2025-08-11T15:34:22.438121579Z","rows":[{"id":"cme79wkq2002i0105pm3f1x9p","row_index":1,"values":{"name":"Laptop","price":999.99},"created_at":"2025-08-11T15:34:22.445414931Z","updated_at":"2025-08-11T15:34:22.445414931Z"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-content-type:
      - nosniff
    status:
      code: 201
      message: Created
version: 1
