interactions:
- request:
    body: '{"slug": "test-csv-dataset-1754926459", "name": "Test CSV Dataset", "description":
      "Dataset created from CSV for testing", "columns": [{"slug": "name", "name":
      "Name", "type": "string"}, {"slug": "price", "name": "Price", "type": "string"},
      {"slug": "in-stock", "name": "In Stock", "type": "string"}], "rows": [{"Name":
      "Laptop", "Price": "999.99", "In Stock": "true"}, {"Name": "Mouse", "Price":
      "29.99", "In Stock": "false"}]}'
    headers:
      Content-Type:
      - application/json
      X-Traceloop-SDK-Version:
      - 1.0.0
    method: POST
    uri: https://api-staging.traceloop.com/v2/datasets
  response:
    body:
      string: '{"error":"row 0 has an invalid column slug: Name"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-content-type:
      - nosniff
    status:
      code: 400
      message: Bad Request
version: 1
