interactions:
- request:
    body: '{"slug": "duplicate-test-slug", "name": "Duplicate Test Dataset", "description":
      null, "columns": [{"slug": "name", "name": "Name", "type": "string"}, {"slug":
      "price", "name": "Price", "type": "string"}], "rows": [{"Name": "Laptop", "Price":
      "999.99"}]}'
    headers:
      Content-Type:
      - application/json
      X-Traceloop-SDK-Version:
      - 1.0.0
    method: POST
    uri: https://api-staging.traceloop.com/v2/datasets
  response:
    body:
      string: '{"error":"row 0 has an invalid column slug: Name"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-content-type:
      - nosniff
    status:
      code: 400
      message: Bad Request
version: 1
