interactions:
- request:
    body: '{"slug": "duplicate-df-test-slug", "name": "Duplicate DataFrame Dataset",
      "description": null, "columns": [{"slug": "name", "name": "Name", "type": "string"},
      {"slug": "price", "name": "Price", "type": "number"}], "rows": [{"name": "Laptop",
      "price": 999.99}]}'
    headers:
      Content-Type:
      - application/json
      X-Traceloop-SDK-Version:
      - 1.0.0
    method: POST
    uri: https://api-staging.traceloop.com/v2/datasets
  response:
    body:
      string: '{"error":"duplicate key value violates unique constraint"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-content-type:
      - nosniff
    status:
      code: 409
      message: Conflict
version: 1
