interactions:
- request:
    body: '{"slug": "test-add-rows", "name": "Test Add Rows Dataset", "description":
      "Dataset for testing add_rows method", "columns": [{"slug": "name", "name": "Name",
      "type": "string"}, {"slug": "age", "name": "Age", "type": "string"}, {"slug":
      "active", "name": "Active", "type": "string"}], "rows": [{"name": "John", "age":
      "25", "active": "true"}, {"name": "Jane", "age": "30", "active": "false"}]}'
    headers:
      Content-Type:
      - application/json
      X-Traceloop-SDK-Version:
      - 1.0.0
    method: POST
    uri: https://api-staging.traceloop.com/v2/datasets
  response:
    body:
      string: '{"id":"cme7h3v4d003g0105grqt6test","slug":"test-add-rows","name":"Test
        Add Rows Dataset","description":"Dataset for testing add_rows method","columns":{"active":{"slug":"active","name":"Active","type":"string"},"age":{"slug":"age","name":"Age","type":"string"},"name":{"slug":"name","name":"Name","type":"string"}},"created_at":"2025-08-11T19:00:00.000000000Z","updated_at":"2025-08-11T19:00:00.000000000Z","rows":[{"id":"cme7h3v4j003h0105qpcmtest1","row_index":1,"values":{"active":"true","age":"25","name":"John"},"created_at":"2025-08-11T19:00:00.000000000Z","updated_at":"2025-08-11T19:00:00.000000000Z"},{"id":"cme7h3v4j003i0105yuu8test2","row_index":2,"values":{"active":"false","age":"30","name":"Jane"},"created_at":"2025-08-11T19:00:00.000000000Z","updated_at":"2025-08-11T19:00:00.000000000Z"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-content-type:
      - nosniff
    status:
      code: 201
      message: Created
- request:
    body: '{"rows": [{"name": "Alice", "age": "28", "active": "true"}]}'
    headers:
      Content-Type:
      - application/json
      X-Traceloop-SDK-Version:
      - 1.0.0
    method: POST
    uri: https://api-staging.traceloop.com/v2/datasets/test-add-rows/rows
  response:
    body:
      string: '{"rows":[{"id":"cme7h3v4j003j0105cfh7test3","row_index":3,"values":{"active":"true","age":"28","name":"Alice"},"created_at":"2025-08-11T19:00:05.000000000Z","updated_at":"2025-08-11T19:00:05.000000000Z"}], "total": 1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-content-type:
      - nosniff
    status:
      code: 201
      message: Created
version: 1