[tool.coverage.run]
branch = true
source = [ "opentelemetry/instrumentation/langchain" ]

[tool.coverage.report]
exclude_lines = ['if TYPE_CHECKING:']
show_missing = true

[tool.poetry]
name = "opentelemetry-instrumentation-langchain"
version = "0.17.2"
description = "OpenTelemetry Langchain instrumentation"
authors = [
  "Gal Kleinman <gal@traceloop.com>",
  "Nir Gazit <nir@traceloop.com>",
  "Tomer Friedman <tomer@traceloop.com>"
]
repository = "https://github.com/traceloop/openllmetry/tree/main/packages/opentelemetry-instrumentation-langchain"
license = "Apache-2.0"
readme = "README.md"

[[tool.poetry.packages]]
include = "opentelemetry/instrumentation/langchain"

[tool.poetry.dependencies]
python = ">=3.9,<4"
opentelemetry-api = "^1.24.0"
opentelemetry-instrumentation = "^0.45b0"
opentelemetry-semantic-conventions = "^0.45b0"
opentelemetry-semantic-conventions-ai = "0.2.0"

[tool.poetry.group.dev.dependencies]
autopep8 = "2.1.0"
flake8 = "7.0.0"
pytest = "8.1.1"
pytest-sugar = "1.0.0"


[tool.poetry.group.test.dependencies]
langchain = "^0.1.6"
langchain-community = ">=0.0.19,<0.0.30"
openai = "^1.26.0"
pytest = "8.1.1"
pytest-sugar = "1.0.0"
vcrpy = "^6.0.1"
pytest-recording = "^0.13.1"
pytest-asyncio = "^0.23.5"
opentelemetry-sdk = "^1.23.0"
opentelemetry-instrumentation-openai = {path="../opentelemetry-instrumentation-openai", develop=true}
text-generation = "^0.7.0"
anthropic = ">=0.23,<0.26"
boto3 = "1.34.88"
langchain-anthropic = "^0.1.11"
langchain-openai = "^0.1.6"
pydantic = "^2.7.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.extras]
instruments = ["langchain"]

[tool.poetry.plugins."opentelemetry_instrumentor"]
langchain = "opentelemetry.instrumentation.langchain:LangchainInstrumentor"
