interactions:
- request:
    body: '{"slug": "test-attachment-upload", "name": "Test Attachment Upload", "description":
      null, "columns": [{"slug": "name", "name": "Name", "type": "string"}, {"slug":
      "file", "name": "File", "type": "file"}], "rows": [{"name": "Test File", "file":
      null}]}'
    headers:
      Content-Type:
      - application/json
      X-Traceloop-SDK-Version:
      - 1.0.0
    method: POST
    uri: https://api-staging.traceloop.com/v2/datasets
  response:
    body:
      string: '{"id":"cmidh2wny001m01r53gajdjpj","slug":"test-attachment-upload","name":"Test
        Attachment Upload","columns":{"file":{"slug":"file","name":"File","type":"file"},"name":{"slug":"name","name":"Name","type":"string"}},"total_columns":2,"created_at":"2025-11-24T18:20:41.566657613Z","updated_at":"2025-11-24T18:20:41.566657686Z","rows":[{"id":"cmidh2wo3001n01r59635kxnd","row_index":1,"values":{"file":null,"name":"Test
        File"},"created_at":"2025-11-24T18:20:41.574159856Z","updated_at":"2025-11-24T18:20:41.574159856Z"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-content-type:
      - nosniff
    status:
      code: 201
      message: Created
- request:
    body: '{"type": "file", "file_name": "tmpm9zix0y6.txt", "content_type": "text/plain",
      "with_thumbnail": false, "metadata": {"source": "test"}}'
    headers:
      Content-Type:
      - application/json
      X-Traceloop-SDK-Version:
      - 1.0.0
    method: POST
    uri: https://api-staging.traceloop.com/v2/datasets/test-attachment-upload/rows/cmidh2wo3001n01r59635kxnd/cells/file/upload-url
  response:
    body:
      string: '{"upload_url":"https://traceloop-staging-files.s3.amazonaws.com/c108269c-cf1e-4ac6-a7e4-5a456cc9fdb7/4fca35a9-f7ec-4cb6-96f8-a3709f98d1d1.txt?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=ASIAQEMAC2MS4BWMXJDU%2F20251124%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20251124T182041Z\u0026X-Amz-Expires=3600\u0026X-Amz-Security-Token=IQoJb3JpZ2luX2VjEJP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJIMEYCIQCONTCaBRlO5kvg8sAs%2Ff9Y6jTWVoxZYZD%2BLI9IhRMmzQIhAOtze2VPR8dSsR7%2BIHtuSdo2rO0er2cHV%2F2ANvAdVP[...]
- request:
    body: '{"status": "success", "metadata": {"source": "test", "size_bytes": 12}}'
    headers:
      Content-Type:
      - application/json
      X-Traceloop-SDK-Version:
      - 1.0.0
    method: PUT
    uri: https://api-staging.traceloop.com/v2/datasets/test-attachment-upload/rows/cmidh2wo3001n01r59635kxnd/cells/file/upload-status
  response:
    body:
      string: '{"success":true,"status":"success"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-content-type:
      - nosniff
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "file", "file_name": "tmpd1qsvq4s.txt", "content_type": "text/plain",
      "with_thumbnail": false, "metadata": {"source": "test"}}'
    headers:
      Content-Type:
      - application/json
      X-Traceloop-SDK-Version:
      - 1.0.0
    method: POST
    uri: https://api-staging.traceloop.com/v2/datasets/test-attachment-upload/rows/cmidh3spo001r01r5tv9a62rx/cells/file/upload-url
  response:
    body:
      string: '{"upload_url":"https://traceloop-staging-files.[...]
- request:
    body: '{"status": "success", "metadata": {"source": "test", "size_bytes": 12}}'
    headers:
      Content-Type:
      - application/json
      X-Traceloop-SDK-Version:
      - 1.0.0
    method: PUT
    uri: https://api-staging.traceloop.com/v2/datasets/test-attachment-upload/rows/cmidh3spo001r01r5tv9a62rx/cells/file/upload-status
  response:
    body:
      string: '{"success":true,"status":"success"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-content-type:
      - nosniff
    status:
      code: 200
      message: OK
version: 1
