interactions:
- request:
    body: '{"slug": "test-external-attachment", "name": "Test External Attachment",
      "description": null, "columns": [{"slug": "name", "name": "Name", "type": "string"},
      {"slug": "video", "name": "Video", "type": "file"}], "rows": [{"name": "Test
      Video", "video": null}]}'
    headers:
      Content-Type:
      - application/json
      X-Traceloop-SDK-Version:
      - 1.0.0
    method: POST
    uri: https://api-staging.traceloop.com/v2/datasets
  response:
    body:
      string: '{"id":"cmidh2vxk001k01r5m7fyuw7e","slug":"test-external-attachment","name":"Test
        External Attachment","columns":{"name":{"slug":"name","name":"Name","type":"string"},"video":{"slug":"video","name":"Video","type":"file"}},"total_columns":2,"created_at":"2025-11-24T18:20:40.616641062Z","updated_at":"2025-11-24T18:20:40.61664113Z","rows":[{"id":"cmidh2vxq001l01r5vyfz8336","row_index":1,"values":{"name":"Test
        Video","video":null},"created_at":"2025-11-24T18:20:40.626202513Z","updated_at":"2025-11-24T18:20:40.626202513Z"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-content-type:
      - nosniff
    status:
      code: 201
      message: Created
- request:
    body: '{"type": "video", "url": "https://www.youtube.com/watch?v=example", "metadata":
      {"title": "Demo Video"}}'
    headers:
      Content-Type:
      - application/json
      X-Traceloop-SDK-Version:
      - 1.0.0
    method: POST
    uri: https://api-staging.traceloop.com/v2/datasets/test-external-attachment/rows/cmidh2vxq001l01r5vyfz8336/cells/video/external-url
  response:
    body:
      string: '{"storage":"external","success":true,"url":"https://www.youtube.com/watch?v=example"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-content-type:
      - nosniff
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "video", "url": "https://www.youtube.com/watch?v=example", "metadata":
      {"title": "Demo Video"}}'
    headers:
      Content-Type:
      - application/json
      X-Traceloop-SDK-Version:
      - 1.0.0
    method: POST
    uri: https://api-staging.traceloop.com/v2/datasets/test-external-attachment/rows/cmidh3scr001p01r5fqq30gea/cells/video/external-url
  response:
    body:
      string: '{"storage":"external","success":true,"url":"https://www.youtube.com/watch?v=example"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-content-type:
      - nosniff
    status:
      code: 200
      message: OK
version: 1
