interactions:
- request:
    body: '{"slug": "test-dataset-file-attachments", "name": "Products with Files",
      "description": null, "columns": [{"slug": "name", "name": "Name", "type": "string"},
      {"slug": "image", "name": "Image", "type": "file"}, {"slug": "manual", "name":
      "Manual", "type": "file"}], "rows": [{"name": "Product A", "image": null, "manual":
      null}]}'
    headers:
      Content-Type:
      - application/json
      X-Traceloop-SDK-Version:
      - 1.0.0
    method: POST
    uri: https://api-staging.traceloop.com/v2/datasets
  response:
    body:
      string: '{"id":"cmidi707h002001r5flvjw2kb","slug":"test-dataset-file-attachments","name":"Products
        with Files","columns":{"image":{"slug":"image","name":"Image","type":"file"},"manual":{"slug":"manual","name":"Manual","type":"file"},"name":{"slug":"name","name":"Name","type":"string"}},"total_columns":3,"created_at":"2025-11-24T18:51:52.397956969Z","updated_at":"2025-11-24T18:51:52.397957046Z","rows":[{"id":"cmidi707m002101r55mui89ue","row_index":1,"values":{"image":null,"manual":null,"name":"Product
        A"},"created_at":"2025-11-24T18:51:52.405313955Z","updated_at":"2025-11-24T18:51:52.405313955Z"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-content-type:
      - nosniff
    status:
      code: 201
      message: Created
- request:
    body: '{"type": "image", "file_name": "tmpdch0oqhw.jpg", "content_type": "image/jpeg",
      "with_thumbnail": false, "metadata": {"alt_text": "Product A image"}}'
    headers:
      Content-Type:
      - application/json
      X-Traceloop-SDK-Version:
      - 1.0.0
    method: POST
    uri: https://api-staging.traceloop.com/v2/datasets/test-dataset-file-attachments/rows/cmidi707m002101r55mui89ue/cells/image/upload-url
  response:
    body:
      string: '{"upload_url":"https://example.invalid/redacted-upload-url","storage_key":"c108269c-cf1e-4ac6-a7e4-5a456cc9fdb7/8a72d3a2-42fc-4128-b145-a6d9ae98cd94.jpg","expires_at":"2025-11-24T19:51:52.613303009Z","method":"PUT"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-content-type:
      - nosniff
    status:
      code: 200
      message: OK
- request:
    body: '{"status": "success", "metadata": {"alt_text": "Product A image", "size_bytes":
      15}}'
    headers:
      Content-Type:
      - application/json
      X-Traceloop-SDK-Version:
      - 1.0.0
    method: PUT
    uri: https://api-staging.traceloop.com/v2/datasets/test-dataset-file-attachments/rows/cmidi707m002101r55mui89ue/cells/image/upload-status
  response:
    body:
      string: '{"success":true,"status":"success"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-content-type:
      - nosniff
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "file", "file_name": "tmpq7gdzjjq.pdf", "content_type": "application/pdf",
      "with_thumbnail": false, "metadata": {"version": "1.0"}}'
    headers:
      Content-Type:
      - application/json
      X-Traceloop-SDK-Version:
      - 1.0.0
    method: POST
    uri: https://api-staging.traceloop.com/v2/datasets/test-dataset-file-attachments/rows/cmidi707m002101r55mui89ue/cells/manual/upload-url
  response:
    body:
      string: '{"upload_url":"https://example.invalid/redacted-upload-url","storage_key":"c108269c-cf1e-4ac6-a7e4-5a456cc9fdb7/b1dbc28c-09f8-42e3-9492-b0b42832fd13.pdf","expires_at":"2025-11-24T19:51:53.021374552Z","method":"PUT"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-content-type:
      - nosniff
    status:
      code: 200
      message: OK
- request:
    body: '{"status": "success", "metadata": {"version": "1.0", "size_bytes": 13}}'
    headers:
      Content-Type:
      - application/json
      X-Traceloop-SDK-Version:
      - 1.0.0
    method: PUT
    uri: https://api-staging.traceloop.com/v2/datasets/test-dataset-file-attachments/rows/cmidi707m002101r55mui89ue/cells/manual/upload-status
  response:
    body:
      string: '{"success":true,"status":"success"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-content-type:
      - nosniff
    status:
      code: 200
      message: OK
version: 1
