interactions:
- request:
    body: '{"slug": "test-dataset-memory-attachment", "name": "Memory Attachment Dataset",
      "description": null, "columns": [{"slug": "name", "name": "Name", "type": "string"},
      {"slug": "image", "name": "Image", "type": "file"}], "rows": [{"name": "Test
      Item", "image": null}]}'
    headers:
      Content-Type:
      - application/json
      X-Traceloop-SDK-Version:
      - 1.0.0
    method: POST
    uri: https://api-staging.traceloop.com/v2/datasets
  response:
    body:
      string: '{"id":"cmidno3nq002t01r53voiw01a","slug":"test-dataset-memory-attachment","name":"Memory
        Attachment Dataset","columns":{"image":{"slug":"image","name":"Image","type":"file"},"name":{"slug":"name","name":"Name","type":"string"}},"total_columns":2,"created_at":"2025-11-24T21:25:08.102105041Z","updated_at":"2025-11-24T21:25:08.102105127Z","rows":[{"id":"cmidno3nx002u01r55spkw8dn","row_index":1,"values":{"image":null,"name":"Test
        Item"},"created_at":"2025-11-24T21:25:08.113547367Z","updated_at":"2025-11-24T21:25:08.113547367Z"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-content-type:
      - nosniff
    status:
      code: 201
      message: Created
- request:
    body: '{"type": "image", "file_name": "test.jpg", "content_type": "image/jpeg",
      "with_thumbnail": false, "metadata": {}}'
    headers:
      Content-Type:
      - application/json
      X-Traceloop-SDK-Version:
      - 1.0.0
    method: POST
    uri: https://api-staging.traceloop.com/v2/datasets/test-dataset-memory-attachment/rows/cmidno3nx002u01r55spkw8dn/cells/image/upload-url
  response:
    body:
      string: '{"upload_url":"https://traceloop-staging-files.s3.amazonaws.com/c108269c-cf1e-4ac6-a7e4-5a456cc9fdb7/744992d1-7f89-4bf7-9978-38db53dd12ae.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=ASIAQEMAC2MSQIN6EEGS%2F20251124%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20251124T212508Z\u0026X-Amz-Expires=3600\u0026X-Amz-Security-Token=IQoJb3JpZ2luX2VjEJb%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJGMEQCIH3%2Bh%2BsH0KvYJqXGuQ0GF0xk8%2BkRicgYH8Ltvo08DLW%2FAiAfcHu0cnrxCIkB7hd2UBATZ1ZSbOQq8L38mh6%2BkJf1[...]
- request:
    body: '{"status": "success", "metadata": {"size_bytes": 16}}'
    headers:
      Content-Type:
      - application/json
      X-Traceloop-SDK-Version:
      - 1.0.0
    method: PUT
    uri: https://api-staging.traceloop.com/v2/datasets/test-dataset-memory-attachment/rows/cmidno3nx002u01r55spkw8dn/cells/image/upload-status
  response:
    body:
      string: '{"success":true,"status":"success"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-content-type:
      - nosniff
    status:
      code: 200
      message: OK
version: 1
