interactions:
- request:
    body: '{"slug": "test-dataset-mixed-attachments", "name": "Mixed Attachments Dataset",
      "description": null, "columns": [{"slug": "id", "name": "ID", "type": "string"},
      {"slug": "file", "name": "File", "type": "file"}, {"slug": "video", "name":
      "Video", "type": "file"}], "rows": [{"id": "001", "file": null, "video": null},
      {"id": "002", "file": null, "video": null}]}'
    headers:
      Content-Type:
      - application/json
      X-Traceloop-SDK-Version:
      - 1.0.0
    method: POST
    uri: https://api-staging.traceloop.com/v2/datasets
  response:
    body:
      string: '{"id":"cmidi78u3002201r54gpwb6t2","slug":"test-dataset-mixed-attachments","name":"Mixed
        Attachments Dataset","columns":{"file":{"slug":"file","name":"File","type":"file"},"id":{"slug":"id","name":"ID","type":"string"},"video":{"slug":"video","name":"Video","type":"file"}},"total_columns":3,"created_at":"2025-11-24T18:52:03.579985772Z","updated_at":"2025-11-24T18:52:03.579985844Z","rows":[{"id":"cmidi78um002301r52ayx2y15","row_index":1,"values":{"file":null,"id":"001","video":null},"created_at":"2025-11-24T18:52:03.601881471Z","updated_at":"2025-11-24T18:52:03.601881471Z"},{"id":"cmidi78um002401r5y67rwgzu","row_index":2,"values":{"file":null,"id":"002","video":null},"created_at":"2025-11-24T18:52:03.601881471Z","updated_at":"2025-11-24T18:52:03.601881471Z"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-content-type:
      - nosniff
    status:
      code: 201
      message: Created
- request:
    body: '{"type": "file", "file_name": "tmp1xhli07m.txt", "content_type": "text/plain",
      "with_thumbnail": false, "metadata": {}}'
    headers:
      Content-Type:
      - application/json
      X-Traceloop-SDK-Version:
      - 1.0.0
    method: POST
    uri: https://api-staging.traceloop.com/v2/datasets/test-dataset-mixed-attachments/rows/cmidi78um002301r52ayx2y15/cells/file/upload-url
  response:
    body:
      string: '{"upload_url":"https://traceloop-staging-files.s3.amazonaws.com/c108269c-cf1e-4ac6-a7e4-5a456cc9fdb7/12202af5-fb12-4f17-a1e9-687be9f20c83.txt?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=ASIAQEMAC2MS4BWMXJDU%2F20251124%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20251124T185203Z\u0026X-Amz-Expires=3600\u0026X-Amz-Security-Token=IQoJb3JpZ2luX2VjEJP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJIMEYCIQCONTCaBRlO5kvg8sAs%2Ff9Y6jTWVoxZYZD%2BLI9IhRMmzQIhAOtze2VPR8dSsR7%2BIHtuSdo2rO0er2cHV%2F2ANvAdVP[...]
- request:
    body: '{"status": "success", "metadata": {"size_bytes": 12}}'
    headers:
      Content-Type:
      - application/json
      X-Traceloop-SDK-Version:
      - 1.0.0
    method: PUT
    uri: https://api-staging.traceloop.com/v2/datasets/test-dataset-mixed-attachments/rows/cmidi78um002301r52ayx2y15/cells/file/upload-status
  response:
    body:
      string: '{"success":true,"status":"success"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-content-type:
      - nosniff
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "video", "url": "https://youtube.com/watch?v=test", "metadata":
      {}}'
    headers:
      Content-Type:
      - application/json
      X-Traceloop-SDK-Version:
      - 1.0.0
    method: POST
    uri: https://api-staging.traceloop.com/v2/datasets/test-dataset-mixed-attachments/rows/cmidi78um002301r52ayx2y15/cells/video/external-url
  response:
    body:
      string: '{"storage":"external","success":true,"url":"https://youtube.com/watch?v=test"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-content-type:
      - nosniff
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "video", "url": "https://vimeo.com/test", "metadata": {}}'
    headers:
      Content-Type:
      - application/json
      X-Traceloop-SDK-Version:
      - 1.0.0
    method: POST
    uri: https://api-staging.traceloop.com/v2/datasets/test-dataset-mixed-attachments/rows/cmidi78um002401r5y67rwgzu/cells/video/external-url
  response:
    body:
      string: '{"storage":"external","success":true,"url":"https://vimeo.com/test"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-content-type:
      - nosniff
    status:
      code: 200
      message: OK
version: 1
