interactions:
- request:
    body: '{"slug": "test-dataset-no-attachments", "name": "Regular Dataset", "description":
      null, "columns": [{"slug": "id", "name": "ID", "type": "string"}, {"slug": "value",
      "name": "Value", "type": "number"}], "rows": [{"id": "A", "value": 100}, {"id":
      "B", "value": 200}]}'
    headers:
      Content-Type:
      - application/json
      X-Traceloop-SDK-Version:
      - 1.0.0
    method: POST
    uri: https://api-staging.traceloop.com/v2/datasets
  response:
    body:
      string: '{"id":"cmidno458002v01r5hk9xpcyo","slug":"test-dataset-no-attachments","name":"Regular
        Dataset","columns":{"id":{"slug":"id","name":"ID","type":"string"},"value":{"slug":"value","name":"Value","type":"number"}},"total_columns":2,"created_at":"2025-11-24T21:25:08.732664156Z","updated_at":"2025-11-24T21:25:08.73266424Z","rows":[{"id":"cmidno45d002w01r5c1k3jma2","row_index":1,"values":{"id":"A","value":100},"created_at":"2025-11-24T21:25:08.740245074Z","updated_at":"2025-11-24T21:25:08.740245074Z"},{"id":"cmidno45d002x01r5peiayzfx","row_index":2,"values":{"id":"B","value":200},"created_at":"2025-11-24T21:25:08.740245074Z","updated_at":"2025-11-24T21:25:08.740245074Z"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-content-type:
      - nosniff
    status:
      code: 201
      message: Created
version: 1
