interactions:
- request:
    body: '{"slug": "test-dataset-external-attachments", "name": "Products with External
      Media", "description": "Test dataset with external URLs", "columns": [{"slug":
      "name", "name": "Product Name", "type": "string"}, {"slug": "price", "name":
      "Price", "type": "number"}, {"slug": "video", "name": "Demo Video", "type":
      "file"}, {"slug": "manual", "name": "Manual", "type": "file"}], "rows": [{"name":
      "Widget Pro", "price": 99.99, "video": null, "manual": null}, {"name": "Gadget
      Plus", "price": 149.99, "video": null, "manual": null}]}'
    headers:
      Content-Type:
      - application/json
      X-Traceloop-SDK-Version:
      - 1.0.0
    method: POST
    uri: https://api-staging.traceloop.com/v2/datasets
  response:
    body:
      string: '{"id":"cmidi6rjt001x01r5bsu7xlhr","slug":"test-dataset-external-attachments","name":"Products
        with External Media","description":"Test dataset with external URLs","columns":{"manual":{"slug":"manual","name":"Manual","type":"file"},"name":{"slug":"name","name":"Product
        Name","type":"string"},"price":{"slug":"price","name":"Price","type":"number"},"video":{"slug":"video","name":"Demo
        Video","type":"file"}},"total_columns":4,"created_at":"2025-11-24T18:51:41.177964302Z","updated_at":"2025-11-24T18:51:41.177964356Z","rows":[{"id":"cmidi6rk3001y01r56v1z7q7k","row_index":1,"values":{"manual":null,"name":"Widget
        Pro","price":99.99,"video":null},"created_at":"2025-11-24T18:51:41.191181097Z","updated_at":"2025-11-24T18:51:41.191181097Z"},{"id":"cmidi6rk3001z01r58myok3jg","row_index":2,"values":{"manual":null,"name":"Gadget
        Plus","price":149.99,"video":null},"created_at":"2025-11-24T18:51:41.191181097Z","updated_at":"2025-11-24T18:51:41.191181097Z"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-content-type:
      - nosniff
    status:
      code: 201
      message: Created
- request:
    body: '{"type": "video", "url": "https://www.youtube.com/watch?v=demo1", "metadata":
      {"title": "Widget Pro Demo", "duration": "3:45"}}'
    headers:
      Content-Type:
      - application/json
      X-Traceloop-SDK-Version:
      - 1.0.0
    method: POST
    uri: https://api-staging.traceloop.com/v2/datasets/test-dataset-external-attachments/rows/cmidi6rk3001y01r56v1z7q7k/cells/video/external-url
  response:
    body:
      string: '{"storage":"external","success":true,"url":"https://www.youtube.com/watch?v=demo1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-content-type:
      - nosniff
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "file", "url": "https://docs.google.com/document/d/widget-manual",
      "metadata": {"pages": 25}}'
    headers:
      Content-Type:
      - application/json
      X-Traceloop-SDK-Version:
      - 1.0.0
    method: POST
    uri: https://api-staging.traceloop.com/v2/datasets/test-dataset-external-attachments/rows/cmidi6rk3001y01r56v1z7q7k/cells/manual/external-url
  response:
    body:
      string: '{"storage":"external","success":true,"url":"https://docs.google.com/document/d/widget-manual"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-content-type:
      - nosniff
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "video", "url": "https://vimeo.com/demo2", "metadata": {}}'
    headers:
      Content-Type:
      - application/json
      X-Traceloop-SDK-Version:
      - 1.0.0
    method: POST
    uri: https://api-staging.traceloop.com/v2/datasets/test-dataset-external-attachments/rows/cmidi6rk3001z01r58myok3jg/cells/video/external-url
  response:
    body:
      string: '{"storage":"external","success":true,"url":"https://vimeo.com/demo2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-content-type:
      - nosniff
    status:
      code: 200
      message: OK
version: 1
