interactions:
- request:
    body: '{"inputs": ["OpenTelemetry is an observability framework", "OCI Generative
      AI serves Cohere embeddings"], "servingMode": {"servingType": "ON_DEMAND", "modelId":
      "cohere.embed-v4.0"}, "compartmentId": "ocid1.compartment.oc1..redacted", "truncate":
      "END", "inputType": "SEARCH_DOCUMENT"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://inference.generativeai.us-chicago-1.oci.oraclecloud.com/20231130/actions/embedText
  response:
    body:
      string: '{"id":"REDACTED/REDACTED/REDACTED","embeddings":[[0.009473139,-0.010914704,-0.011738455,-0.014141062,0.037892558,0.006315426,-0.049425073,-0.016131794,0.021142948,0.013660541,0.018397111,0.016269086,-0.044482566,-0.0010425601,0.0031748745,0.0033979737,-0.019220863,0.039265476,0.0011154965,-0.00844345,0.023065034,0.007756991,0.02045649,-0.02045649,0.0057319356,-0.0016131795,-8.4949343E-4,-0.010708766,0.04475715,0.027732957,0.0072078235,0.04915049,0.03734339,-0.0013900802,-0.04338423,0.028968586,0.024849828,-0.03322463,-0.009679077,0.027732957,[...]
