interactions:
- request:
    body: '{"inputs": ["OpenTelemetry is an observability framework", "OCI Generative
      AI serves Cohere embeddings"], "servingMode": {"servingType": "ON_DEMAND", "modelId":
      "cohere.embed-v4.0"}, "compartmentId": "ocid1.compartment.oc1..redacted", "truncate":
      "END", "inputType": "SEARCH_DOCUMENT"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://inference.generativeai.us-chicago-1.oci.oraclecloud.com/20231130/actions/embedText
  response:
    body:
      string: '{"id":"REDACTED/REDACTED/REDACTED","embeddings":[[0.010479199,-0.010821656,-0.011369589,-0.014451706,0.037807304,0.0057532857,-0.04986181,-0.017328348,0.02054745,0.012944893,0.018355722,0.016780417,-0.04438249,-6.84915E-4,0.0032019776,0.0038355237,-0.019451585,0.039451104,0.0015753044,-0.009999759,0.023561075,0.008047751,0.019862534,-0.0201365,0.0052395994,-0.0018321476,-0.0011814783,-0.010342216,0.04493042,0.028081514,0.007225853,0.04903991,0.037259374,-0.0015581816,-0.04356059,0.028766429,0.02424599,-0.033560835,-0.009246352,0.027944531,0.0[...]
