interactions:
- request:
    body: '{"slug": "test-delete-1754926491", "name": "Test Delete Dataset", "description":
      "Dataset for testing deletion", "columns": [{"slug": "nam", "name": "Nam", "type":
      "string"}, {"slug": "", "name": "", "type": "string"}], "rows": [{"Nam": "T",
      "": "stData"}]}'
    headers:
      Content-Type:
      - application/json
      X-Traceloop-SDK-Version:
      - 1.0.0
    method: POST
    uri: https://api-staging.traceloop.com/v2/datasets
  response:
    body:
      string: '{"error":"name is required for column "}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-content-type:
      - nosniff
    status:
      code: 400
      message: Bad Request
version: 1
