interactions:
- request:
    body: '{"slug": "test-rows-1754926490", "name": "Test Rows Dataset", "description":
      "Dataset for testing row operations", "columns": [{"slug": "name", "name": "Name",
      "type": "string"}, {"slug": "age", "name": "Age", "type": "string"}, {"slug":
      "active", "name": "Active", "type": "string"}], "rows": [{"Name": "John", "Age":
      "25", "Active": "true"}, {"Name": "Jane", "Age": "30", "Active": "false"}, {"Name":
      "Bob", "Age": "35", "Active": "true"}]}'
    headers:
      Content-Type:
      - application/json
      X-Traceloop-SDK-Version:
      - 1.0.0
    method: POST
    uri: https://api-staging.traceloop.com/v2/datasets
  response:
    body:
      string: '{"error":"row 0 has an invalid column slug: Name"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-content-type:
      - nosniff
    status:
      code: 400
      message: Bad Request
version: 1
