interactions:
- request:
    body: '{"slug": "test-columns-1754926486", "name": "Test Columns Dataset", "description":
      "Dataset for testing column operations", "columns": [{"slug": "name", "name":
      "Name", "type": "string"}, {"slug": "price", "name": "Price", "type": "string"},
      {"slug": "instock", "name": "InStock", "type": "string"}, {"slug": "rating",
      "name": "Rating", "type": "string"}], "rows": [{"Name": "Product A", "Price":
      "99.99", "InStock": "true", "Rating": "4.5"}, {"Name": "Product B", "Price":
      "149.99", "InStock": "false", "Rating": "3.8"}, {"Name": "Product C", "Price":
      "79.99", "InStock": "true", "Rating": "4.2"}]}'
    headers:
      Content-Type:
      - application/json
      X-Traceloop-SDK-Version:
      - 1.0.0
    method: POST
    uri: https://api-staging.traceloop.com/v2/datasets
  response:
    body:
      string: '{"error":"row 0 has an invalid column slug: Rating"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-content-type:
      - nosniff
    status:
      code: 400
      message: Bad Request
version: 1
