[tool.poetry]
name = "opentelemetry-instrumentation-watsonx"
version = "0.11.1"
description = "OpenTelemetry IBM Watsonx Instrumentation"
authors = ["Guangya Liu <gyliu@ibm.com>"]
license = "Apache-2.0"
readme = "README.md"

[[tool.poetry.packages]]
include = "opentelemetry/instrumentation/watsonx"

[tool.poetry.dependencies]
python = ">=3.8.1,<4"
opentelemetry-api = "^1.22.0"
opentelemetry-instrumentation = "0.43b0"
opentelemetry-semantic-conventions-ai = "^0.0.20"

[tool.poetry.group.dev.dependencies]
autopep8 = "2.0.4"
flake8 = "7.0.0"
pytest = "7.4.4"
pytest-sugar = "0.9.7"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
