interactions:
- request:
    body: '{"compartmentId": "ocid1.compartment.oc1..redacted", "servingMode": {"servingType":
      "ON_DEMAND", "modelId": "meta.llama-3.3-70b-instruct"}, "chatRequest": {"apiFormat":
      "GENERIC", "messages": [{"role": "USER", "content": [{"type": "TEXT", "text":
      "Tell me a joke about opentelemetry"}]}], "isStream": true, "streamOptions":
      {"isIncludeUsage": true}, "temperature": 0.2, "maxTokens": 100}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://inference.generativeai.us-chicago-1.oci.oraclecloud.com/20231130/actions/chat
  response:
    body:
      string: 'data: {"index":0,"message":{"role":"ASSISTANT","content":[{"type":"TEXT","text":""}]},"pad":"aaaaaaaaaa"}


        data: {"index":0,"message":{"role":"ASSISTANT","content":[{"type":"TEXT","text":"Why"}]},"pad":"aaaaaa"}


        data: {"index":0,"message":{"role":"ASSISTANT","content":[{"type":"TEXT","text":"
        did"}]},"pad":"aaaaaaaaaaaa"}


        data: {"index":0,"message":{"role":"ASSISTANT","content":[{"type":"TEXT","text":"
        the"}]},"pad":"aaa"}


        data: {"index":0,"message":{"role":"ASSISTANT","content":[{"type":"TEXT","text":"
        Open"}]},"pad":"a"}


        data: {"index":0,"m[...]
