interactions:
- request:
    body: '{"compartmentId": "ocid1.compartment.oc1..redacted", "servingMode": {"servingType":
      "ON_DEMAND", "modelId": "meta.llama-3.3-70b-instruct"}, "chatRequest": {"apiFormat":
      "GENERIC", "messages": [{"role": "USER", "content": [{"type": "TEXT", "text":
      "Tell me a joke about opentelemetry"}]}], "maxTokens": 100}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://inference.generativeai.us-chicago-1.oci.oraclecloud.com/20231130/actions/chat
  response:
    body:
      string: '{"modelId":"meta.llama-3.3-70b-instruct","modelVersion":"1.0.0","chatResponse":{"apiFormat":"GENERIC","timeCreated":"2026-09-18T19:47:02.791Z","choices":[{"index":0,"message":{"role":"ASSISTANT","content":[{"type":"TEXT","text":"Why
        did the OpenTelemetry span go to therapy?\n\nBecause it had a lot of \"baggage\"
        and was struggling to \"trace\" its problems! (get it? like distributed tracing?)"}],"toolCalls":[]},"finishReason":"stop","logprobs":{}}],"usage":{"completionTokens":40,"promptTokens":43,"totalTokens":83}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
