interactions:
- request:
    body: '{"slug": "test-external-url", "name": "Test External URL", "description":
      null, "columns": [{"slug": "video", "name": "Video", "type": "file"}], "rows":
      [{"video": null}]}'
    headers:
      Content-Type:
      - application/json
      X-Traceloop-SDK-Version:
      - 1.0.0
    method: POST
    uri: https://api-staging.traceloop.com/v2/datasets
  response:
    body:
      string: '{"id":"cmidcdrtw001e01r5dpaj14lb","slug":"test-external-url","name":"Test
        External URL","columns":{"video":{"slug":"video","name":"Video","type":"file"}},"total_columns":1,"created_at":"2025-11-24T16:09:10.436228861Z","updated_at":"2025-11-24T16:09:10.436228917Z","rows":[{"id":"cmidcdru1001f01r5bp36hc4b","row_index":1,"values":{"video":null},"created_at":"2025-11-24T16:09:10.444214426Z","updated_at":"2025-11-24T16:09:10.444214426Z"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-content-type:
      - nosniff
    status:
      code: 201
      message: Created
- request:
    body: '{"type": "video", "url": "https://www.youtube.com/watch?v=example", "metadata":
      {}}'
    headers:
      Content-Type:
      - application/json
      X-Traceloop-SDK-Version:
      - 1.0.0
    method: POST
    uri: https://api-staging.traceloop.com/v2/datasets/test-external-url/rows/cmidcdru1001f01r5bp36hc4b/cells/video/external-url
  response:
    body:
      string: '{"storage":"external","success":true,"url":"https://www.youtube.com/watch?v=example"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-content-type:
      - nosniff
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "video", "url": "https://www.youtube.com/watch?v=example", "metadata":
      {}}'
    headers:
      Content-Type:
      - application/json
      X-Traceloop-SDK-Version:
      - 1.0.0
    method: POST
    uri: https://api-staging.traceloop.com/v2/datasets/test-external-url/rows/cmidceiv6001h01r5odn89gid/cells/video/external-url
  response:
    body:
      string: '{"storage":"external","success":true,"url":"https://www.youtube.com/watch?v=example"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-content-type:
      - nosniff
    status:
      code: 200
      message: OK
version: 1
