interactions:
- request:
    body: '{"slug": "test-mock-upload", "name": "Test Mock Upload", "description":
      null, "columns": [{"slug": "file", "name": "File", "type": "file"}], "rows":
      [{"file": null}]}'
    headers:
      Content-Type:
      - application/json
      X-Traceloop-SDK-Version:
      - 1.0.0
    method: POST
    uri: https://api-staging.traceloop.com/v2/datasets
  response:
    body:
      string: '{"id":"cmidcej69001i01r5gojli74x","slug":"test-mock-upload","name":"Test
        Mock Upload","columns":{"file":{"slug":"file","name":"File","type":"file"}},"total_columns":1,"created_at":"2025-11-24T16:09:45.873523638Z","updated_at":"2025-11-24T16:09:45.873523705Z","rows":[{"id":"cmidcej6g001j01r59prz656o","row_index":1,"values":{"file":null},"created_at":"2025-11-24T16:09:45.882449979Z","updated_at":"2025-11-24T16:09:45.882449979Z"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-content-type:
      - nosniff
    status:
      code: 201
      message: Created
- request:
    body: '{"type": "file", "file_name": "tmp4jng7d_z.txt", "content_type": null,
      "with_thumbnail": false, "metadata": {}}'
    headers:
      Content-Type:
      - application/json
      X-Traceloop-SDK-Version:
      - 1.0.0
    method: POST
    uri: https://api-staging.traceloop.com/v2/datasets/test-mock-upload/rows/cmidcej6g001j01r59prz656o/cells/file/upload-url
  response:
    body:
      string: '{"upload_url":"https://traceloop-staging-files.s3.amazonaws.com/c108269c-cf1e-4ac6-a7e4-5a456cc9fdb7/83748f97-c998-4350-815c-9d0293a5989e.txt?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=ASIAQEMAC2MS2AI7ZVTM%2F20251124%2Fus-east-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20251124T160946Z\u0026X-Amz-Expires=3600\u0026X-Amz-Security-Token=IQoJb3JpZ2luX2VjEJD%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJHMEUCIDvzCQyZpXgGj9x7Cyg6OladIeFBTLkgiewRrLAXOYwNAiEAlUX%2BprMgZZ18U9pKbi%2Bgxio0ginkfvoiQWV%2BFoMeFiAq[...]
- request:
    body: '{"status": "success", "metadata": {"size_bytes": 12}}'
    headers:
      Content-Type:
      - application/json
      X-Traceloop-SDK-Version:
      - 1.0.0
    method: PUT
    uri: https://api-staging.traceloop.com/v2/datasets/test-mock-upload/rows/cmidcej6g001j01r59prz656o/cells/file/upload-status
  response:
    body:
      string: '{"success":true,"status":"success"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-content-type:
      - nosniff
    status:
      code: 200
      message: OK
version: 1
