[tool.coverage.run]
branch = true
source = [ "opentelemetry/instrumentation/replicate" ]

[tool.coverage.report]
exclude_lines = ['if TYPE_CHECKING:']
show_missing = true

[tool.pytest.ini_options]
addopts = "--cov --cov-report html:'../../coverage/packages/opentelemetry-instrumentation-replicate/html' --cov-report xml:'../../coverage/packages/opentelemetry-instrumentation-replicate/coverage.xml' --html='../../reports/packages/opentelemetry-instrumentation-replicate/unittests/html/index.html' --junitxml='../../reports/packages/opentelemetry-instrumentation-replicate/unittests/junit.xml'"

[tool.poetry]
name = "opentelemetry-instrumentation-replicate"
version = "0.8.2"
description = "OpenTelemetry Replicate instrumentation"
authors = [ "Kartik Prajapati <kartik@ktklab.org>" ]
license = 'Apache-2.0'
readme = 'README.md'

[[tool.poetry.packages]]
include = "opentelemetry/instrumentation/replicate"

[tool.poetry.dependencies]
python = ">=3.8.1,<4"
opentelemetry-api = "^1.21.0"
opentelemetry-instrumentation = "^0.42b0"
opentelemetry-semantic-conventions-ai = "^0.0.13"

[tool.poetry.group.dev.dependencies]
autopep8 = "2.0.2"
flake8 = "6.1.0"
pytest = "7.3.1"
pytest-sugar = "0.9.7"
pytest-cov = "4.1.0"
pytest-html = "3.2.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
