interactions:
- request:
    body: '{"slug": "test-publish-dataset", "name": "Test Publish Dataset",
      "description": "Dataset for testing publish functionality", "columns": [{"slug":
      "name", "name": "Name", "type": "string"}, {"slug": "value", "name": "Value",
      "type": "string"}], "rows": [{"name": "Test", "value": "123"}]}'
    headers:
      Content-Type:
      - application/json
      X-Traceloop-SDK-Version:
      - 1.0.0
    method: POST
    uri: https://api-staging.traceloop.com/v2/datasets
  response:
    body:
      string: '{"id":"cme7h291r003e01059xsmfmr8","slug":"test-publish-dataset","name":"Test
        Publish Dataset","description":"Dataset for testing publish functionality","columns":{"name":{"slug":"name","name":"Name","type":"string"},"value":{"slug":"value","name":"Value","type":"string"}},"created_at":"2025-08-11T18:54:44.559052077Z","updated_at":"2025-08-11T18:54:44.559052138Z","rows":[{"id":"cme7h291x003f0105xa3br809","row_index":1,"values":{"name":"Test","value":"123"},"created_at":"2025-08-11T18:54:44.56803782Z","updated_at":"2025-08-11T18:54:44.56803782Z"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-content-type:
      - nosniff
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Traceloop-SDK-Version:
      - 1.0.0
    method: POST
    uri: https://api-staging.traceloop.com/v2/datasets/test-publish-dataset/publish
  response:
    body:
      string: '{"dataset_id":"cme7h291r003e01059xsmfmr8","version":"v1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-content-type:
      - nosniff
    status:
      code: 200
      message: OK
version: 1
