[tool.coverage.run]
branch = true
source = [ "traceloop/sdk" ]

[tool.coverage.report]
exclude_lines = [ "if TYPE_CHECKING:" ]
show_missing = true

[tool.pytest.ini_options]
addopts = "--cov --cov-report html:'../../coverage/packages/traceloop-sdk/html' --cov-report xml:'../../coverage/packages/traceloop-sdk/coverage.xml' --html='../../reports/packages/traceloop-sdk/unittests/html/index.html' --junitxml='../../reports/packages/traceloop-sdk/unittests/junit.xml'"

[tool.poetry]
name = "traceloop-sdk"
version = "0.0.43"
description = "Traceloop Software Development Kit (SDK) for Python"
authors = [
  "Gal Kleinman <gal@traceloop.com>",
  "Nir Gazit <nir@traceloop.com>",
  "Tomer Friedman <tomer@traceloop.com>"
]
repository = "https://github.com/traceloop/openllmetry"
documentation = "https://traceloop.com/docs/python-sdk"
license = "Apache-2.0"
readme = "README.md"

[[tool.poetry.packages]]
include = "traceloop/sdk"

[tool.poetry.dependencies]
python = ">=3.8.1,<3.12"
opentelemetry-api = "^1.19.0"
opentelemetry-sdk = "^1.19.0"
opentelemetry-semantic-conventions-ai = "^0.0.1"
opentelemetry-exporter-otlp-proto-http = "^1.19.0"
opentelemetry-instrumentation-requests = "^0.40b0"
opentelemetry-instrumentation-pymysql = "^0.40b0"
opentelemetry-instrumentation-urllib3 = "^0.40b0"
opentelemetry-instrumentation-openai = "^0.0.5"
opentelemetry-instrumentation-pinecone = "^0.0.2"
opentelemetry-instrumentation-haystack = "^0.0.1"
colorama = "^0.4.6"

[tool.poetry.group.dev.dependencies]
autopep8 = "2.0.4"
flake8 = "6.1.0"
pytest = "7.4.1"
pytest-sugar = "0.9.7"
pytest-cov = "4.1.0"
pytest-html = "4.0.0"

[build-system]
requires = [ "poetry-core" ]
build-backend = "poetry.core.masonry.api"
