[tool.coverage.run]
branch = true
source = [ "traceloop/sdk" ]

[tool.coverage.report]
exclude_lines = [ "if TYPE_CHECKING:" ]
show_missing = true

[tool.pytest.ini_options]
addopts = "--cov --cov-report html:'../../coverage/packages/traceloop-sdk/html' --cov-report xml:'../../coverage/packages/traceloop-sdk/coverage.xml' --html='../../reports/packages/traceloop-sdk/unittests/html/index.html' --junitxml='../../reports/packages/traceloop-sdk/unittests/junit.xml'"

[tool.poetry]
name = "traceloop-sdk"
version = "0.5.3"
description = "Traceloop Software Development Kit (SDK) for Python"
authors = [
  "Gal Kleinman <gal@traceloop.com>",
  "Nir Gazit <nir@traceloop.com>",
  "Tomer Friedman <tomer@traceloop.com>"
]
repository = "https://github.com/traceloop/openllmetry"
documentation = "https://traceloop.com/docs/python-sdk"
license = "Apache-2.0"
readme = "README.md"

[[tool.poetry.packages]]
include = "traceloop/sdk"

[tool.poetry.dependencies]
python = ">=3.8.1,<4"
opentelemetry-api = "^1.21.0"
opentelemetry-sdk = "^1.20.0"
opentelemetry-exporter-otlp-proto-http = "^1.20.0"
opentelemetry-exporter-otlp-proto-grpc = "^1.20.0"
opentelemetry-instrumentation-requests = "^0.42b0"
opentelemetry-instrumentation-pymysql = "^0.42b0"
opentelemetry-instrumentation-urllib3 = "^0.42b0"
opentelemetry-semantic-conventions-ai = "^0.0.12"
opentelemetry-instrumentation-openai = {path="../opentelemetry-instrumentation-openai", develop=true}
opentelemetry-instrumentation-anthropic = {path="../opentelemetry-instrumentation-anthropic", develop=true}
opentelemetry-instrumentation-cohere = {path="../opentelemetry-instrumentation-cohere", develop=true}
opentelemetry-instrumentation-pinecone = {path="../opentelemetry-instrumentation-pinecone", develop=true}
opentelemetry-instrumentation-langchain = {path="../opentelemetry-instrumentation-langchain", develop=true}
opentelemetry-instrumentation-chromadb = {path="../opentelemetry-instrumentation-chromadb", develop=true}
opentelemetry-instrumentation-transformers = {path="../opentelemetry-instrumentation-transformers", develop=true}
opentelemetry-instrumentation-llamaindex = {path="../opentelemetry-instrumentation-llamaindex", develop=true}
opentelemetry-instrumentation-bedrock = {path="../opentelemetry-instrumentation-bedrock", develop=true}
colorama = "^0.4.6"
tenacity = "^8.2.3"
pydantic = "^2.5.0"
jinja2 = "^3.1.2"
deprecated = "^1.2.14"
posthog = "^3.0.2"

[tool.poetry.group.dev.dependencies]
autopep8 = "2.0.4"
flake8 = "6.1.0"
pytest = "7.4.3"
pytest-sugar = "0.9.7"
pytest-cov = "4.1.0"
pytest-html = "4.1.1"

[tool.poetry.group.test.dependencies]
openai = "^1.3.7"
anthropic = "^0.7.2"
# farm-haystack = "^1.20.1"
pinecone-client = {extras = ["grpc"], version = "^2.2.4"}
cohere = "^4.34"
langchain = ">=0.0.343,<0.0.350"
chromadb = "^0.4.17"

[build-system]
requires = [ "poetry-core" ]
build-backend = "poetry.core.masonry.api"

