interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://traceloop-sandbox-3azqlud3.weaviate.network/v1/.well-known/ready
  response:
    body:
      string: ''
    headers:
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://traceloop-sandbox-3azqlud3.weaviate.network/v1/meta
  response:
    body:
      string: '{"hostname":"http://[::]:8080","modules":{"generative-anyscale":{"documentationHref":"https://docs.anyscale.com/endpoints/overview","name":"Generative
        Search - Anyscale"},"generative-aws":{"documentationHref":"https://docs.aws.amazon.com/bedrock/latest/APIReference/welcome.html","name":"Generative
        Search - AWS"},"generative-cohere":{"documentationHref":"https://docs.cohere.com/reference/generate","name":"Generative
        Search - Cohere"},"generative-openai":{"documentationHref":"https://platform.openai.com/docs/api-reference/completions","name":"Generative
        Search - OpenAI"},"generative-palm":{"documentationHref":"https://cloud.google.com/vertex-ai/docs/generative-ai/chat/test-chat-prompts","name":"Generative
        Search - Google PaLM"},"qna-openai":{"documentationHref":"https://platform.openai.com/docs/api-reference/completions","name":"OpenAI
        Question & Answering Module"},"ref2vec-centroid":{},"reranker-cohere":{"documentationHref":"https://txt.cohere.com/rerank/","name":"Reranker
        - Cohere"},"text2vec-aws":{"documentationHref":"https://cloud.google.com/vertex-ai/docs/generative-ai/embeddings/get-text-embeddings","name":"AWS
        Module"},"text2vec-cohere":{"documentationHref":"https://docs.cohere.ai/embedding-wiki/","name":"Cohere
        Module"},"text2vec-huggingface":{"documentationHref":"https://huggingface.co/docs/api-inference/detailed_parameters#feature-extraction-task","name":"Hugging
        Face Module"},"text2vec-jinaai":{"documentationHref":"https://jina.ai/embeddings/","name":"JinaAI
        Module"},"text2vec-openai":{"documentationHref":"https://platform.openai.com/docs/guides/embeddings/what-are-embeddings","name":"OpenAI
        Module"},"text2vec-palm":{"documentationHref":"https://cloud.google.com/vertex-ai/docs/generative-ai/embeddings/get-text-embeddings","name":"Google
        PaLM Module"}},"version":"1.23.9"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://pypi.org/pypi/weaviate-client/json
  response:
    body:
      string: '{"info":{"author":"Weaviate","author_email":"hello@weaviate.io,","bugtrack_url":null,"classifiers":[],"description":"Weaviate
        python client\n======================\n.. image:: https://raw.githubusercontent.com/weaviate/weaviate/19de0956c69b66c5552447e84d016f4fe29d12c9/docs/assets/weaviate-logo.png\n    :width:
        180\n    :align: right\n    :alt: Weaviate logo\n\n.. image:: https://github.com/weaviate/weaviate-python-client/actions/workflows/.github/workflows/main.yaml/badge.svg?branch=main\n    :target:
        https://github.com/weaviate/weaviate/actions/workflows/.github/workflows/pull_requests.yaml\n    :alt:
        Build Status\n\n.. image:: https://badge.fury.io/py/weaviate-client.svg\n    :target:
        https://badge.fury.io/py/weaviate-client\n    :alt: PyPI version\n\n.. image::
        https://readthedocs.org/projects/weaviate-python-client/badge/?version=latest\n    :target:
        https://weaviate-python-client.readthedocs.io/en/latest/?badge=latest\n    :alt:
        Documentation Status\n\nA[...]
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://traceloop-sandbox-3azqlud3.weaviate.network/v1/schema
  response:
    body:
      string: '{"classes":[]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"class": "Article", "properties": [{"name": "text", "dataType": ["text"],
      "description": "The text content"}], "description": "An Article class to store
      a text"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://traceloop-sandbox-3azqlud3.weaviate.network/v1/schema
  response:
    body:
      string: '{"class":"Article","description":"An Article class to store a text","invertedIndexConfig":{"bm25":{"b":0.75,"k1":1.2},"cleanupIntervalSeconds":60,"stopwords":{"additions":null,"preset":"en","removals":null}},"multiTenancyConfig":{"enabled":false},"properties":[{"dataType":["text"],"description":"The
        text content","indexFilterable":true,"indexSearchable":true,"name":"text","tokenization":"word"}],"replicationConfig":{"factor":1},"shardingConfig":{"virtualPerPhysical":128,"desiredCount":1,"actualCount":1,"desiredVirtualCount":128,"actualVirtualCount":128,"key":"_id","strategy":"hash","function":"murmur3"},"vectorIndexConfig":{"skip":false,"cleanupIntervalSeconds":300,"maxConnections":64,"efConstruction":128,"ef":-1,"dynamicEfMin":100,"dynamicEfMax":500,"dynamicEfFactor":8,"vectorCacheMaxObjects":1000000000000,"flatSearchCutoff":40000,"distance":"cosine","pq":{"enabled":false,"bitCompression":false,"segments":0,"centroids":256,"trainingLimit":100000,"encoder":{"type":"kmeans","distribution":"log-normal"}}},"vectorIndexType":"hnsw","vectorizer":"none"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"dataType": ["Author"], "name": "author", "description": "The author"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://traceloop-sandbox-3azqlud3.weaviate.network/v1/schema/Article/properties
  response:
    body:
      string: '{"dataType":["Author"],"description":"The author","indexFilterable":true,"indexSearchable":false,"name":"author"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
