interactions:
- request:
    body: '{"config":{"threshold":0.7},"input":{"text":"Thank you for helping me today! I really appreciate your assistance."}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.traceloop.dev/v2/guardrails/toxicity-detector/execute
  response:
    body:
      string: '{"result":{"is_safe":true},"pass":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
