interactions:
- request:
    body: '{"input_schema_mapping":{"text":{"source":"Thank you for helping me today!
      I really appreciate your assistance."}},"evaluator_version":null,"evaluator_config":null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.traceloop.dev/v2/evaluators/slug/toxicity-detector/execute-single
  response:
    body:
      string: '{"execution_id":"execute-made-by-traceloop-evaluator-TOXICITY_DETECTOR-f77839e8-7cfc-4809-9bea-3726ee71fc77","stream_url":"/evaluators/events/execute-made-by-traceloop-evaluator-TOXICITY_DETECTOR-f77839e8-7cfc-4809-9bea-3726ee71fc77"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.traceloop.dev/v2/evaluators/events/execute-made-by-traceloop-evaluator-TOXICITY_DETECTOR-f77839e8-7cfc-4809-9bea-3726ee71fc77
  response:
    body:
      string: '{"execution_id":"execute-made-by-traceloop-evaluator-TOXICITY_DETECTOR-f77839e8-7cfc-4809-9bea-3726ee71fc77","result":{"evaluator_result":{"is_safe":true}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
