interactions:
- request:
    body: '{"input_schema_mapping":{"text":{"source":"Hello, this is a simple message
      without any personal information."}},"evaluator_version":null,"evaluator_config":null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.traceloop.dev/v2/evaluators/slug/pii-detector/execute-single
  response:
    body:
      string: '{"execution_id":"execute-made-by-traceloop-evaluator-PII_DETECTOR-ca756fc5-c2fd-497e-98af-61432b7b8401","stream_url":"/evaluators/events/execute-made-by-traceloop-evaluator-PII_DETECTOR-ca756fc5-c2fd-497e-98af-61432b7b8401"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.traceloop.dev/v2/evaluators/events/execute-made-by-traceloop-evaluator-PII_DETECTOR-ca756fc5-c2fd-497e-98af-61432b7b8401
  response:
    body:
      string: '{"execution_id":"execute-made-by-traceloop-evaluator-PII_DETECTOR-ca756fc5-c2fd-497e-98af-61432b7b8401","result":{"evaluator_result":{"has_pii":false}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
