interactions:
- request:
    body: '{"input_schema_mapping":{"answer":{"source":"I like eating pizza on weekends."},"question":{"source":"What
      is the capital of France?"}},"evaluator_version":null,"evaluator_config":null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.traceloop.dev/v2/evaluators/slug/answer-relevancy/execute-single
  response:
    body:
      string: '{"execution_id":"execute-made-by-traceloop-evaluator-ANSWER_RELEVANCY-eac88a3e-ac6a-43b0-b83a-3d80e17fbe2d","stream_url":"/evaluators/events/execute-made-by-traceloop-evaluator-ANSWER_RELEVANCY-eac88a3e-ac6a-43b0-b83a-3d80e17fbe2d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.traceloop.dev/v2/evaluators/events/execute-made-by-traceloop-evaluator-ANSWER_RELEVANCY-eac88a3e-ac6a-43b0-b83a-3d80e17fbe2d
  response:
    body:
      string: '{"execution_id":"execute-made-by-traceloop-evaluator-ANSWER_RELEVANCY-eac88a3e-ac6a-43b0-b83a-3d80e17fbe2d","result":{"evaluator_result":{"is_relevant":false}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
