interactions:
- request:
    body: '{"input_schema_mapping":{"text":{"source":"Welcome to our service! We hope
      you enjoy your experience."}},"evaluator_version":null,"evaluator_config":null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.traceloop.dev/v2/evaluators/slug/pii-detector/execute-single
  response:
    body:
      string: '{"execution_id":"execute-made-by-traceloop-evaluator-PII_DETECTOR-da5bd5da-7cfc-458a-b626-4ad6736c8517","stream_url":"/evaluators/events/execute-made-by-traceloop-evaluator-PII_DETECTOR-da5bd5da-7cfc-458a-b626-4ad6736c8517"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"input_schema_mapping":{"text":{"source":"Welcome to our service! We hope
      you enjoy your experience."}},"evaluator_version":null,"evaluator_config":null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.traceloop.dev/v2/evaluators/slug/toxicity-detector/execute-single
  response:
    body:
      string: '{"execution_id":"execute-made-by-traceloop-evaluator-TOXICITY_DETECTOR-b55a76b6-9979-4410-b4b5-feb63d72692e","stream_url":"/evaluators/events/execute-made-by-traceloop-evaluator-TOXICITY_DETECTOR-b55a76b6-9979-4410-b4b5-feb63d72692e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.traceloop.dev/v2/evaluators/events/execute-made-by-traceloop-evaluator-TOXICITY_DETECTOR-b55a76b6-9979-4410-b4b5-feb63d72692e
  response:
    body:
      string: '{"execution_id":"execute-made-by-traceloop-evaluator-TOXICITY_DETECTOR-b55a76b6-9979-4410-b4b5-feb63d72692e","result":{"evaluator_result":{"is_safe":true}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.traceloop.dev/v2/evaluators/events/execute-made-by-traceloop-evaluator-PII_DETECTOR-da5bd5da-7cfc-458a-b626-4ad6736c8517
  response:
    body:
      string: '{"execution_id":"execute-made-by-traceloop-evaluator-PII_DETECTOR-da5bd5da-7cfc-458a-b626-4ad6736c8517","result":{"evaluator_result":{"has_pii":false}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
