interactions:
- request:
    body: '{"input_schema_mapping":{"answer":{"source":"The capital of France is Paris."},"question":{"source":"What
      is the capital of France?"}},"evaluator_version":null,"evaluator_config":null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.traceloop.dev/v2/evaluators/slug/answer-relevancy/execute-single
  response:
    body:
      string: '{"execution_id":"execute-made-by-traceloop-evaluator-ANSWER_RELEVANCY-40beb7e6-8172-4b6c-929a-f0939da0998e","stream_url":"/evaluators/events/execute-made-by-traceloop-evaluator-ANSWER_RELEVANCY-40beb7e6-8172-4b6c-929a-f0939da0998e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.traceloop.dev/v2/evaluators/events/execute-made-by-traceloop-evaluator-ANSWER_RELEVANCY-40beb7e6-8172-4b6c-929a-f0939da0998e
  response:
    body:
      string: '{"execution_id":"execute-made-by-traceloop-evaluator-ANSWER_RELEVANCY-40beb7e6-8172-4b6c-929a-f0939da0998e","result":{"evaluator_result":{"is_relevant":true}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
