interactions:
- request:
    body: '{"input_schema_mapping":{"text":{"source":"Contact me at john.doe@example.com
      for more details."}},"evaluator_version":null,"evaluator_config":null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.traceloop.dev/v2/evaluators/slug/pii-detector/execute-single
  response:
    body:
      string: '{"execution_id":"execute-made-by-traceloop-evaluator-PII_DETECTOR-fda09a4c-7d05-412c-9a4b-6189631dfd55","stream_url":"/evaluators/events/execute-made-by-traceloop-evaluator-PII_DETECTOR-fda09a4c-7d05-412c-9a4b-6189631dfd55"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.traceloop.dev/v2/evaluators/events/execute-made-by-traceloop-evaluator-PII_DETECTOR-fda09a4c-7d05-412c-9a4b-6189631dfd55
  response:
    body:
      string: '{"execution_id":"execute-made-by-traceloop-evaluator-PII_DETECTOR-fda09a4c-7d05-412c-9a4b-6189631dfd55","result":{"evaluator_result":{"has_pii":true}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
