interactions:
- request:
    body: '{"input_schema_mapping":{"text":{"source":"You are stupid and worthless!"}},"evaluator_version":null,"evaluator_config":null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.traceloop.dev/v2/evaluators/slug/toxicity-detector/execute-single
  response:
    body:
      string: '{"execution_id":"execute-made-by-traceloop-evaluator-TOXICITY_DETECTOR-1b88aab3-1db9-407b-b99a-cf4e6f305b8a","stream_url":"/evaluators/events/execute-made-by-traceloop-evaluator-TOXICITY_DETECTOR-1b88aab3-1db9-407b-b99a-cf4e6f305b8a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.traceloop.dev/v2/evaluators/events/execute-made-by-traceloop-evaluator-TOXICITY_DETECTOR-1b88aab3-1db9-407b-b99a-cf4e6f305b8a
  response:
    body:
      string: '{"execution_id":"execute-made-by-traceloop-evaluator-TOXICITY_DETECTOR-1b88aab3-1db9-407b-b99a-cf4e6f305b8a","result":{"evaluator_result":{"is_safe":false}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
