interactions:
- request:
    body: '{"config":{"probability_threshold":0.7},"input":{"text":"Welcome to our service! We hope you enjoy your experience."}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.traceloop.dev/v2/guardrails/pii-detector/execute
  response:
    body:
      string: '{"result":{"has_pii":false},"pass":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"config":{"threshold":0.7},"input":{"text":"Welcome to our service! We hope you enjoy your experience."}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.traceloop.dev/v2/guardrails/toxicity-detector/execute
  response:
    body:
      string: '{"result":{"is_safe":true},"pass":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
