interactions:
- request:
    body: '{"input_schema_mapping":{"text":{"source":"Contact john.smith@company.com
      for help."}},"evaluator_version":null,"evaluator_config":null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.traceloop.dev/v2/evaluators/slug/pii-detector/execute-single
  response:
    body:
      string: '{"execution_id":"execute-made-by-traceloop-evaluator-PII_DETECTOR-c66cb67b-3dad-4e0c-9093-edd24d9097b4","stream_url":"/evaluators/events/execute-made-by-traceloop-evaluator-PII_DETECTOR-c66cb67b-3dad-4e0c-9093-edd24d9097b4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"input_schema_mapping":{"text":{"source":"Contact john.smith@company.com
      for help."}},"evaluator_version":null,"evaluator_config":null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.traceloop.dev/v2/evaluators/slug/toxicity-detector/execute-single
  response:
    body:
      string: '{"execution_id":"execute-made-by-traceloop-evaluator-TOXICITY_DETECTOR-bab2963b-f1ac-4cc9-bc93-6bef12908cf7","stream_url":"/evaluators/events/execute-made-by-traceloop-evaluator-TOXICITY_DETECTOR-bab2963b-f1ac-4cc9-bc93-6bef12908cf7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.traceloop.dev/v2/evaluators/events/execute-made-by-traceloop-evaluator-PII_DETECTOR-c66cb67b-3dad-4e0c-9093-edd24d9097b4
  response:
    body:
      string: '{"execution_id":"execute-made-by-traceloop-evaluator-PII_DETECTOR-c66cb67b-3dad-4e0c-9093-edd24d9097b4","result":{"evaluator_result":{"has_pii":true}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.traceloop.dev/v2/evaluators/events/execute-made-by-traceloop-evaluator-TOXICITY_DETECTOR-bab2963b-f1ac-4cc9-bc93-6bef12908cf7
  response:
    body:
      string: '{"execution_id":"execute-made-by-traceloop-evaluator-TOXICITY_DETECTOR-bab2963b-f1ac-4cc9-bc93-6bef12908cf7","result":{"evaluator_result":{"is_safe":true}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
