name: CI - Traceloop SDK

on:
  pull_request:
  push:
    branches:
      - "main"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Python 3.11
        uses: actions/setup-python@v1
        with:
          python-version: 3.11
      - name: Install Poetry
        uses: snok/install-poetry@v1
      
      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - uses: nrwl/nx-set-shas@v3
      - run: npm ci

      - run: npx nx affected -t lint --parallel=3
      - name: Test with pytest
        env:
          OPENAI_API_KEY: ${{ secrets.OPEN_API_KEY }}
          ANTHROPIC_API_KEY: ${{ secrets.ANTHROPIC_API_KEY }}
          PINECONE_API_KEY: ${{ secrets.PINECONE_API_KEY }}
          PINECONE_ENVIRONMENT: ${{ secrets.PINECONE_ENVIRONMENT }}
          TRACELOOP_PROMPT_REGISTRY_ENABLED: false
        run: npx nx affected -t test --parallel=3
      - run: npx nx affected -t build --parallel=3
